#notes:
#sample names cannot contain dash - or period . characters, wildcard constraints occasionally prevent these
#DO NOT delete any keys, as this will cause snakemake to throw a key error.
#As a general rule, absolute file paths can be changed, but relative paths should not be changed.

############################################################################
#META PIPELINE SETTINGS
#uncomment pipelines to deploy
pipelines_to_deploy:
  - aref
  - srna
  # - ldna
  # - lrna
  
containers:
  teseq:
    use_preexisting_response: "no"
    path: "/users/mkelsey/data/Nanopore/alz/RTE/.snakemake/singularity/a2dc848073a26995b643e7ba1e3d2cd9.simg"
  tetools:
    use_preexisting_response: "no"
    path: "/users/mkelsey/data/Nanopore/alz/RTE/containers/tetools_1.88.5.sif"
  gatk:
    use_preexisting_response: "no"
    path: "/users/mkelsey/data/Nanopore/alz/RTE/containers/gatk:4.6.1.0.sif"
  pepper_deepvariant:
    use_preexisting_response: "no"
    path: "/users/mkelsey/data/Nanopore/alz/RTE/containers/pepper_deepvariant:r0.8.sif"
  sniffles:
    use_preexisting_response: "no"
    path: "/users/mkelsey/data/Nanopore/alz/RTE/containers/sniffles:v2.6.0.sif"
  dorado:
    use_preexisting_response: "no"
    path: "/users/mkelsey/data/Nanopore/alz/RTE/containers/dorado:sha268dcb4cd02093e75cdc58821f8b93719c4255ed.sif"
  tetranscripts:
    use_preexisting_response: "no"
    path: "/users/mkelsey/data/Nanopore/alz/RTE/containers/tetranscripts:2.2.3.sif"

shared:
  #leave palette values as empty string for default color
  default_palette_condition: "" #e.g. "ggsci::default_aaas" palette must be at least as long as the number of biological conditions you model; paletteer palettes https://emilhvitfeldt.github.io/paletteer/
  default_palette_descriptive: "" #e.g "ggthemes::few_Dark"paletteer palettes https://emilhvitfeldt.github.io/paletteer/
  condition_colors: # to manually assign colors to conditions, uncomment and replace with your conditions
    # PRO: "#CCCCCC"
    # ESEN: "#B3C8FF"
    # LSEN: "#B3FFEB"

#PIPELINE SETTINGS - Ignore settings for pipelines not being deployed (i.e. not in pipelines_to_deploy)
aref:
  #MODULE LOGIC
  symlink_aref:
    response: "no"
    aref_symlinkdir: "/oscar/data/jsedivy/mkelsey/REF_STABLE_ANNOTATIONS/HS1/oct_09_2024/TE-Seq/aref"
  symlink_aref_contents: #can ignore - this deals with certain niche cases where you wnat to use AND BUILD ON existing annotations.
    response: "no"
    aref_symlinkdir: "/oscar/data/jsedivy/mkelsey/REF_STABLE_ANNOTATIONS/HS1/oct_09_2024/TE-Seq/aref"

  running_ldna:
    response: "no"
  
  #TE ANNOTATION PARAMETERS
  fulllength_trnc_length_threshold: 95 #percent of consensus covered by an element for it to be considered full length
  yng_old_divergence_threshold:
    rte_family: #specify a column name (one of repeat_superfamily, rte_superfamily, rte_family, or rte_subfamily)
      L1: 3 #specify values in the above specified column and their specific yng/old divergence threshold
      Alu: 8
      ERV: 12
      Other: 15 
  gene_adjacency_threshold: 10000 #capture region around genes to be annotated as "gene adjacent"; value in bp. Default is 10kb
  orf_intactness: #specify which elements to anotate for open reading frame (ORF) intactness. By default, human is annotated for L1HS and L1PA2, and mouse is annotated for the L1MdTf, Gf, and A subfamilies. Other species will have their youngest (least diverged) 7 LINE subfamilies examined. Common ORF lengths will be automatically detected and examined.
    annotate_ORF2_domains:
      response: "yes"
      EN: "resources/sequences/L1.2_EN_domain_aa.fa"
      RT: "resources/sequences/L1.2_RT_domain_aa.fa"
    automatically_find_subfamilies_of_interest: "yes" #yes or no. If "no" provide values to the "subfamilies_of_interest" key. If "yes" nothing need be provided.
    manual_subfamilies_of_interest:
      L1HS: #specify subfamily names to examine (must be a trailing value (everything after the last "/" character) in the aref/default/A.REF_annotations/A.REF_repeatmasker.gtf.rformatted.fragmentsjoined.csv "family" column); e.g. "L1HS" for the "LINE/L1/L1HS" entry.
        - 1017 #specify the ORF lengths (in nucleotides) to search for (ORFs of length +/- 10% the specified value will be considered). Multiple lengths can be provided.
        - 3828 #specify the ORF lengths (in nucleotides) to search for (ORFs of length +/- 10% the specified value will be considered). Multiple lengths can be provided.
      L1PA2: #specify subfamily names to examine (must be a value in the rte_subfamily column).
        - 1017 #specify the ORF lengths (in nucleotides) to search for (ORFs of length +/- 10% the specified value will be considered). Multiple lengths can be provided.
        - 3828 #specify the ORF lengths (in nucleotides) to search for (ORFs of length +/- 10% the specified value will be considered). Multiple lengths can be provided.

  #USER PROVIDED ANNOTATIONS - CHANGE PATHS AS NEEDED
  #Be sure to follow ucsc naming conventions, e.g. chr1, chr2, ...
  starting_ref: ../genome_files/reference.ucsc.fa
  spike_in_contigs:
    response: "no"
    path_to_fasta: "conf/mt646_orfeus.fa"
  run_repeatmasker: #controls whether to run repeatmasker from scratch or to use the "starting_ref_repeatmasker" repeatmasker.out file 
    response: "no"
    starting_ref_repeatmasker: ../genome_files/repeatmasker.ucsc.out
  ref_refseq_gtf: ../genome_files/refseq.sorted.ucsc.gtf
  ref_refseq_gff3: ../genome_files/refseq.sorted.ucsc.gff3

  #PIPELINE INCLUDED ANNOTATIONS FOR T2T-HS1 genome - LEAVE PATHS UNCHANGED OR CHANGE AS NEEDED
  ref_cytobands: resources/genomes/hs1/annotations/cytobands.bed
  ref_telomere: resources/genomes/hs1/annotations/telomeres.bed
  ref_cpgislands: resources/genomes/hs1/annotations/cpgislands.tsv
  l13fasta: resources/sequences/l1.3.fa
  #PATHS TO FILES WHICH WILL BE CREATED
  ref: aref/default/A.REF.fa
  ref_index: aref/default/A.REF.fa.fai

  #MODULE SETTINGS
  prefix: aref
  species: human #If Homo sapiens or Mus musculus, use human or mouse, respectively. For other species, the species name must be a valid NCBI Taxonomy Database species name and be contained in the RepeatMasker repeat database.

  #PARAMETERS RELVANT IF UPDATING REFERENCE WITH LONG READ DATA, ELSE YOU CAN IGNORE
  sample_table: "conf/sample_table_aref.csv"

  samples:
    - "N2102EP1"
  levels:
    - "N2102EP"

  rmann_shared: "aref/default/A.REF_annotations/A.REF_rmann.csv"

  patch_ref: "no"   #if you would like snps to be incorporated into the reference and for repetitive elements that are absent from the sample to be masked. Only recommended if you have at least 20X long read coverage
  rte_mask_supporting_read_count_threshold: 10 # require at least this many reads supporing the empty site for a repeat to be masked.
  update_ref_with_tldr:
    response: "no"
    require_tsd: "yes" #require that insertions have a detected target site duplication TSD for inclusion into the reference. Removing this requirement increases sensitivity as TSDs can sometimes be absent/undetected, but may come at the cost of decreased specificity for products of retrotransposition (versus other forms of mutation).
    #if making one ref per sample (i.e. each sample has unique inserts), then "yes", else "no"
    per_sample: "no"
    #IF updating reference with tldr inserts; else NULL
    tldr_input_bam_ref: ../genome_files/reference.ucsc.fa
    #ensure tldr_input_bams are a full path, not relative paths
    tldr_te_ref:
      human: resources/sequences/teref.ont.human.fa
      mouse: resources/sequences/teref.mouse.fa
    known_nonref: #provide TLDR with a set of known nonreference TEs, such that identified nonref insertions can be annotated as "known" or "novel"
      response: "no"
      path: resources/genomes/hs1/annotations/nonref.collection.hs1.chr.bed.gz #if using, ensure this file is in your genome's coordinate space! Tabix index of bgzipped bed file with location of nonref insertions

  meryl: "/oscar/data/jsedivy/mkelsey/tools/Winnowmap/bin/meryl"
  winnowmap: "/oscar/data/jsedivy/mkelsey/tools/Winnowmap/bin/winnowmap"

  dorado: "/users/mkelsey/data/tools/dorado-0.9.1-linux-x64/bin/dorado"
  rate: "5khz"
  type: "hac"
  modification_string: "5mCG_5hmCG" #note separate modifications with dashes (e.g. 5mCG_5hmCG-6ma); see dorado webpage for full details: https://github.com/nanoporetech/dorado

srna:
  prefix: "srna"
  sample_table: "conf/sample_table_srna.csv"
  peptable: "conf/peptable_srna.csv"
  per_sample_ref: "no" #yes or no
  map_to_mycoplasma: "no" #yes or no
  run_tetranscripts: "no" #yes or no; runs tetranscripts in addition to telescope. In most cases this extra analysis is fully superceded by telescope and should be turned off.
  samples:
    - "PRO1"
    - "PRO2"
    - "PRO3"
    - "ESEN1"
    - "ESEN2"
    - "ESEN3"
    - "LSEN1"
    - "LSEN2"
    - "LSEN3"
    
  library_type: PE #paired end (PE), or single end (SE)

  levels: #order matters for levels! first is the base comparator
    - "PRO"
    - "ESEN"
    - "LSEN"

  contrasts: #follows the syntax: condition_ + level from "levels" + _vs_ + level from "levels". The second condition is the base of the contrast.
    - "condition_ESEN_vs_PRO"
    - "condition_LSEN_vs_PRO"

  paralellize_bioc: 8
  counttypes: #For TEs, whether to consider unique + multi mapping reads OR only unique mappers. Default is to run the pipeline for both.
    - "telescope_multi"
    - "telescope_unique"

  downsample_for_test:
    response: "no" #yes or no

  repeat_ontologies_to_scrutinize: #leave empty for all ontologies to be included
    - ""

  rte_subfamilies_for_aggregate_rte_stats: #leave empty for all default
    - ""

  collections_for_gsea: #these are collections to be used in addition to the msigdb collections, and are meant to be specified as a path to a gmt file. They will be run separately from the msigdb collections, so this portion of the analysis is meant to be hypothesis based
    msigdbH: resources/genesets/human/msigdb/h.all.v2023.2.Hs.symbols.gmt
    msigdbC2_CPG_SENMAYO: resources/genesets/human/msigdb/SAUL_SEN_MAYO.v2023.2.Hs.gmt

  genesets_for_gseaplot: #this needs to be a geneset present in one of the collections specified above, or found in the msigdb database
    - "SAUL_SEN_MAYO"
    - "HALLMARK_INTERFERON_ALPHA_RESPONSE"

  genesets_for_heatmaps: #these are collections to be used in addition to the msigdb collections, and are meant to be specified as a path to a text file with newline delimited gene symbols. 
    Senescence: resources/genesets/human/mycustom/senescence.txt
    InflammatoryGenes: resources/genesets/human/mycustom/inflammatory.txt

  annotation_genes: "aref/default/A.REF_annotations/refseq.gtf"
  annotation_genes_bed12: "aref/default/A.REF_annotations/refseq.bed"

  gtf_id_mapping: #in the event that gene_id in annotation genes is not symbol, you can pass a df with gene_id and gene_name cols, and gene_id will be swapped for gene_name in during enrichment analysis 
    response: "no"
    path: "/users/mkelsey/data/elif3/TE-Seq/aref/A.REF_annotations/refseq_id_mapping.tsv"
    
  r_annotation_fragmentsjoined: "aref/default/A.REF_annotations/A.REF_repeatmasker.gtf.rformatted.fragmentsjoined.csv"
  r_repeatmasker_annotation: "aref/default/A.REF_annotations/A.REF_repeatmasker_annotation.csv"

ldna:
  ##      ANALYSIS PARAMETERES       ##
  prefix: ldna
  sample_table: "conf/sample_table_ldna.csv"
  use_aref_basecalls: "yes"
  single_condition: "no"
  map_to_mycoplasma: "yes" #yes or no
  samples:
    - "N2102EP1"

  #order with base comparator as first (dss will have 2 - 1)
  levels:
    - "N2102EP"

  contrasts:
    - ""

  condition_colors:
    N2102EP: "#3C5488FF"

  barcoding: "inactive"
  barcodingKit: ""

  targets:
    - ""

  plasmidFasta: ""
  insertFasta: ""
  backboneFasta: ""
  ecoliFasta: ""
  ##            TOOL PATHS           ##

  ##      ANALYSIS PATHS       ##
  MINIMUM_COVERAGE_FOR_METHYLATION_ANALYSIS: 7
  SEX_CHROMOSOMES_NOT_INCLUDED_IN_ANALYSIS: ""
  reference_annotation_dir: "aref"
  reference: "aref/extended/A.REF.fa"
  annotation: "aref/extended/A.REF_annotations/A.REF_repeatmasker_refseq.complete.gtf"
  refseq_unaltered: "aref/default/A.REF_annotations/refseq.gff3"
  refseq: "aref/default/A.REF_annotations/refseq.complete.gtf"
  cytobands: aref/extended/A.REF_annotations/cytobands.bed
  ccres: /oscar/data/jsedivy/mkelsey/ref/genomes/hs1/annotations3/cCREs/hs1-imr90-cCREsCuratedWithClosestGene.bed
  telomere: aref/extended/A.REF_annotations/telomeres.bed
  censat: /users/mkelsey/data/ref/genomes/hs1/annotations7/chm13v2.0_censat_v2.0.bed
  chromHMM: /oscar/data/jsedivy/mkelsey/ref/genomes/hs1/annotations7/ENCFF965JOC_lungfibroblast_chromHMM_hs1.bed

  refseqbgz: "aref/default/A.REF_annotations/refseq.complete.gff3.gz"
  repeatmasker: "aref/extended/A.REF_annotations/A.REF_repeatmasker.complete.gtf"
  repeatmaskerbgz: "aref/extended/A.REF_annotations/A.REF_repeatmasker.complete.gff3.gz"
  ref_cytobands: "aref/extended/A.REF_annotations/cytobands.bed"
  cpg_islands: aref/extended/A.REF_annotations/cpg_islands.bed
  cpgi_shores: aref/extended/A.REF_annotations/cpgi_shores.bed
  cpgi_shelves: aref/extended/A.REF_annotations/cpgi_shelves.bed
  clinvar_bgz: aref/extended/A.REF_annotations/clinvar.vcf.gz
  clinvar_tbi: aref/extended/A.REF_annotations/clinvar.vcf.tbi
  vcfanno_clinvar_toml: conf/clinvar.vcfanno.toml
  intact_l1_anatomy_coordinates: aref/extended/A.REF_analysis/intact_l1_anatomy_coordinates.tsv
  r_annotation_fragmentsjoined: "aref/extended/A.REF_annotations/A.REF_repeatmasker.gtf.rformatted.fragmentsjoined.csv"
  r_repeatmasker_annotation: "aref/extended/A.REF_annotations/A.REF_repeatmasker_annotation.csv"
  rmann: "aref/extended/A.REF_annotations/A.REF_rmann.csv"
  l1hsintact: "aref/extended/A.REF_annotations/l1hsintact.bed"
  methylartist_loci_of_interest: "conf/ldna_methylartist_loci_of_interest.bed"
  methylartist_bam_config: "conf/ldna_methylartist_bam_config.txt"
  l13orfs: "/users/mkelsey/data/ref/sequences/l1.3.orfs.txt"
  l13: "/users/mkelsey/data/ref/sequences/l1.3.fa"
  tf_position_weighted_matrices: "/oscar/data/jsedivy/mkelsey/ref/pwms/hocomoco_jasperformat.txt"

  rate: "5khz"
  type: "hac"
  modification_string: "5mCG_5hmCG"

  #ensure the clair3model is consistent with the basecalling model
  clair3model: "/oscar/data/jsedivy/mkelsey/tools/remoraModels/r1041_e82_400bps_hac_v420"
  clinvar: ""
  rte_subfamily_extra_modification_analysis:
    - "L1HS_intactness_req_ALL"
    - "L1HS_rte_length_req_ALL"
    - "L1PA2_rte_length_req_ALL"
    - "L1PA3_rte_length_req_ALL"
    - "L1PA4_rte_length_req_ALL"

  rte_subfamily_read_level_analysis:
    - "L1HS_rte_length_req_ALL"

  genesets_for_great:
    msigdbH: /users/mkelsey/data/ref/genesets/human/msigdb/h.all.v2023.2.Hs.symbols.gmt
    msigdbC2_CPG: /users/mkelsey/data/ref/genesets/human/msigdb/c2.cgp.v2023.2.Hs.symbols.gmt
    msigdbC2_CP: /users/mkelsey/data/ref/genesets/human/msigdb/c2.cp.v2023.2.Hs.symbols.gmt
    msigdbC3_TFT: /users/mkelsey/data/ref/genesets/human/msigdb/c3.tft.v2023.2.Hs.symbols.gmt
    msigdbC5_GO: /users/mkelsey/data/ref/genesets/human/msigdb/c5.go.v2023.2.Hs.symbols.gmt
    msigdbC2_CPG_SENMAYO: /users/mkelsey/data/ref/genesets/human/msigdb/SAUL_SEN_MAYO.v2023.2.Hs.gmt


lrna:
  prefix: "lrna"
  sample_table: "conf/sample_table_lrna.csv"
  per_sample_ref: "no"
  samples:
    - "pro1"
    - "pro2"
    - "pro3"
    - "sen1"
    - "sen2"
    - "sen3"

  alignmenttypes:
    - "guppy"
    - "dorado"
  counttypes:
    - "relaxed"
    - "stringent"

  rate: "4khz"
  type: "sup"
  modification_string: "m6A_DRACH"

  levels:
    - "PRO"
    - "SEN"
  levelslegendmap:
    SEN: "SEN"
    PRO: "PRO"
  contrasts:
    - "condition_SEN_vs_PRO"
  contrast_colors:
    condition_SEN_vs_PRO: "red"
  condition_colors:
    SEN: "#F39B7FFF"
    PRO: "#3C5488FF"

  repeat_ontologies_to_scrutinize: #leave empty for all ontologies to be included; options: "repeat_superfamily"     "rte_superfamily"        "rte_family"             "rte_subfamily"          "rte_subfamily_limited"  "l1_subfamily_limited"   "l1_subfamily"           "herv_subfamily_limited"
    - "rte_subfamily_limited"

  collections_for_gsea:
    msigdbH: resources/genesets/human/msigdb/h.all.v2023.2.Hs.symbols.gmt
    msigdbC2_CPG: resources/genesets/human/msigdb/c2.cgp.v2023.2.Hs.symbols.gmt
    msigdbC2_CP: resources/genesets/human/msigdb/c2.cp.v2023.2.Hs.symbols.gmt
    msigdbC3_TFT: resources/genesets/human/msigdb/c3.tft.v2023.2.Hs.symbols.gmt
    msigdbC5_GO: resources/genesets/human/msigdb/c5.go.v2023.2.Hs.symbols.gmt
    msigdbC2_CPG_SENMAYO: resources/genesets/human/msigdb/SAUL_SEN_MAYO.v2023.2.Hs.gmt

  genesets_for_heatmaps:
    Senescence: resources/genesets/human/mycustom/senescence.txt
    InflammatoryGenes: resources/genesets/human/mycustom/inflammatory.txt

  genelistsforplot:
    - "/users/mkelsey/data/ref/genesets/sasp.txt"

  #specify strand for stranded plotting of rnaseq data
  regions_of_interest: "conf/lrna_regions_of_interest.bed"

  paralellize_bioc: 8

  dorado: "/users/mkelsey/data/tools/dorado-0.7.2-linux-x64/bin/dorado"
  guppy: "/oscar/data/jsedivy/mkelsey/tools/ont-guppy/bin/guppy_basecaller"
  guppy_config: "/oscar/data/jsedivy/mkelsey/tools/ont-guppy/data/rna_r9.4.1_70bps_sup.cfg"

  reference: "aref/default/A.REF.fa"
  rtes_genes_gtf: "aref/default/A.REF_annotations/A.REF_repeatmasker_refseq.complete.gtf"

  junctionbed: "/users/mkelsey/data/ref/genomes/hs1/refseq_2023_10/GCF_009914755.1_T2T-CHM13v2.0_genomic.ucscnames.bed"
  referencetranscriptome: "/oscar/data/jsedivy/mkelsey/ref/transcriptome/GRCh38_latest_rna_andRCS.fna"

  ## new additions
  annotation_genes: "aref/default/A.REF_annotations/refseq.gtf"
  annotation_genes_bed12: "/oscar/data/jsedivy/mkelsey/ref/genomes/hs1/refseq_2023_10/GCF_009914755.1_T2T-CHM13v2.0_genomic.ucscnames.bed"
  annotation_genesandrtes: "aref/default/A.REF_annotations/A.REF_repeatmasker_refseq.complete.gtf"
  annotation_rtes: "aref/default/A.REF_annotations/A.REF_repeatmasker.gff2"
  annotation_genesandrtes_fasta: "aref/default/A.REF_annotations/A.REF_repeatmasker_refseq.complete.fa"

  gtf_id_mapping: #in the event that gene_id in annotation genes is not symbol, you can pass a df with gene_id and gene_name cols, and gene_id will be swapped for gene_name in during enrichment analysis 
    response: "no"
    path: "/users/mkelsey/data/elif3/TE-Seq/aref/A.REF_annotations/refseq_id_mapping.tsv"
    
  r_annotation_fragmentsjoined: "aref/default/A.REF_annotations/A.REF_repeatmasker.gtf.rformatted.fragmentsjoined.csv"
  r_repeatmasker_annotation: "aref/default/A.REF_annotations/A.REF_repeatmasker_annotation.csv"
  txdb: "aref/default/A.REF_annotations/A.REF_repeatmasker_refseq.complete.sqlite"
  cytobands: "aref/default/A.REF_annotations/cytobands.bed"
  mycoplasma: "/users/mkelsey/data/ref/genomes/mycoplasma/mycoplasma.fa"

  rte_subfamily_read_level_analysis:
    - "L1HS_intactness_req_ALL"

  rte_subfamily_extra_modification_analysis:
    - "L1HS_intactness_req_ALL"
    - "L1HS_rte_length_req_ALL"
    - "L1PA2_rte_length_req_ALL"
    - "L1PA3_rte_length_req_ALL"
    - "L1PA4_rte_length_req_ALL"

  MINIMUM_COVERAGE_FOR_METHYLATION_ANALYSIS: 5

integrated:
  regions_of_interest: "conf/integrated_regions_of_interest.bed"
